.titleContainer{
  display: flex;
  flex-direction:row;
  width: 100%;
  padding-top: var(--height-header);
  background-color: var(--color-primary);
  align-items: top;
  height: 70rem;
  text-align: center;
  position: relative;
  margin-bottom: 5rem;
}
.left{
  height:100%;
  
  display: flex;
  flex-direction: column;
  align-items: left ;
  justify-content: top;
  width: 40%;
  
}
.left img{
  height: 90%;
  display: flex;

  background-color: var(--color-primary);
  object-fit: cover;
  width: 100%;
  
}
.left div{
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
  
}
.left div p{
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2rem;
  color: var(--color-muted);
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.4rem;
  font-style: italic;
}
.titleContainer h1{
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  padding-inline: 10rem;
}

.title{
  font-size: 4rem;
  font-family: 'Trebuchet MS', sans-serif;
  color: #fff;
  text-align: left;
  max-width: 50%;
}
.content{
  display: grid;
  grid-template-columns:1fr 2fr 1fr;
}
.content p{
  white-space: pre-line;
  text-align:justify;
  padding: 10rem;

}
.ads{
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  align-items: center;
  justify-content: start;
}
.adstest{
  height: 40rem;
  width: 60%;
  background-color: var(--color-primary-dark);
  text-align: center;
}
.detail{
  background-color: var(--color-background);
  display: block;
  position:absolute;
  right: 0;
  bottom: 0;
  height: 8rem;
  width: 20%;
}
.detail2{
  width: 100%;
  height: 40%;
  background-color: var(--color-primary-dark);
}
@media (max-width: 1000px) {
  .content{
    display: flex;
    flex-direction: column;
    gap: 2rem
  }
  .content p{
    padding: 5rem;
  }
  .titleContainer{
    display: flex;
    flex-direction:column;
    justify-content: center ;
    text-align: center;
    height: auto;
    width: 100%;
    gap: 2rem;
    padding-inline: 0;
    padding-bottom: 4rem;
  }
  .titleContainer h1{
    padding: 2rem;
  }
  .left{
    height:70%;
    width: 100%;
  }
  .detail{
    background-color: var(--color-background);
    display: block;
    position:absolute;
    right: 0;
    bottom: 0;
    height: 3rem;
    width: 40%;
  }
  .title{
    font-size: 2rem;
    height: 100%;
    text-align: center;
    max-width: 100%;
  }
  .left div p{
    display: none;
  }
  .left div{
  width: 100%;
  height: auto;
  background-color: aqua;
  
}
}