/* Tema claro (default) */
:root {

  --color-background: #fdfdfc;        /* branco suave */
  --color-text: #1e1e1e;              /* quase preto */
  --color-primary: #f7941d;           /* laranja vibrante (mantido) */
  --color-primary-dark: #c76a14;      /* tom mais escuro do laranja */
  --color-secondary: #ffe08a;         /* amarelo claro, suave e agradável */
  --color-accent: #ffb347;            /* laranja pêssego para pequenos destaques */
  --color-muted: #888888;             /* cinza mais suave e legível */
  --color-border: #e0e0e0;            /* cinza claro para bordas sutis */


  --font-family-base: 'Georgia, serif';
  --font-family-mono: 'Courier New, monospace';

  --spacing-small: 0.8rem; /* 8px */
  --spacing-medium: 1.6rem; /* 16px */
  --spacing-large: 3.2rem; /* 32px */
  --height-header:10rem;
}

/* Tema escuro */
.dark {
  --color-background: #121212;
  --color-text: #e0e0e0;
  --color-primary: #3399ff;
  --color-primary-dark: #2673cc;
  --color-secondary: #f39c12;
  --color-muted: #999999;

  --font-family-base: 'Georgia, serif';
  --font-family-mono: 'Courier New, monospace';

  --spacing-small: 0.8rem;
  --spacing-medium: 1.6rem;
  --spacing-large: 3.2rem;
}

/* Uso das variáveis (exemplo global) */



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-base);
  margin-bottom: var(--spacing-medium);
  font-weight: bold;
}

p {
  margin-bottom: var(--spacing-medium);
  color: var(--color-text);
}

/* Container centralizado */
.container {
  max-width: 60rem; /* 960px */
  margin: 0 auto;
  padding: 0 var(--spacing-medium);
}
